.panel-admin-stock {
  max-width: 900px;
  margin: 40px auto;
  padding: 32px;
  background: rgba(255, 248, 220, 0.95);
  border-radius: 16px;
  border: 2px solid #8b5e3c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  font-family: "MedievalSharp", serif;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3e2723;
    text-shadow: 1px 1px 1px #fff;
  }

  .btn-crear {
    margin: 16px 0;
    background: #f3e5ab;
    color: #4e342e;
    border-radius: 8px;
    font-weight: 600;
    padding: 8px 14px;
    border: 1px solid #a36d3a;

    &:hover {
      background: #e0c78d;
    }
  }

  table {
    width: 100%;
    background: #fffaf0;
    border-radius: 8px;
    overflow: hidden;
  }

  th.mat-header-cell {
    background: #f5e2c5;
    color: #4e342e;
    font-weight: bold;
  }

  td.mat-cell {
    color: #3e2723;
  }

  .mat-column-acciones {
    width: 140px;
    text-align: center;
  }
  .footer-volver {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .btn-volver {
      font-size: 0.95rem;
      padding: 8px 18px;
      min-width: 130px;
      font-weight: 600;
      background: #f3e5ab;
      border: 1px solid #a36d3a;
      border-radius: 10px;
      color: #4e342e;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
  }
}
